brotli==1.1.0
ConfigParser==7.1.0
cryptography==44.0.0
Cython==3.0.11
dl==0.1.0
docutils==0.21.2
HTMLParser==0.0.2
importlib_metadata==6.8.0
keyring==25.5.0
langdetect==1.0.9
langid==1.1.6
lockfile==0.12.2
lxml==4.9.3
numpy==1.23.5
ollama==0.4.4
ordereddict==1.1
pandas==1.5.3
protobuf==5.29.2
pyOpenSSL==24.3.0
pywin32==306
textblob==0.18.0.post0
thread==2.0.5
toml==0.10.2
tornado==6.3.3
